<h1>Address</h1>

<div class="card border-dark mb-3" style="max-width: 50rem;">
  <br/>
<div class="container">
<%= render 'form', address: @address %>
<br/>
</div>
<div class="container">
<%= link_to 'Back', root_path,class:"btn btn-danger" %>
</div>
<br/>
