<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<div class="container">

<%= link_to 'Show', @product, class:"btn btn-secondary" %> <%= link_to 'Back', root_path,class:"btn btn-danger" %>

</div>
